_ngo/
_xmsgs/
iseconfig/
xlnx_auto_0_xdb/
xst/

*_bitgen.*
*_envsettings.*
*_guide.*
*_map.*
*_pad.*
*_summary.*
*_usage.*

*.bgn
# *.bin
*.bit
*.bld
*.cmd_log
*.drc
*.gise
*.jhd
*.html
*.lso
*.nc*
*.ng*
*.pa*
*.pcf
*.prj
*.ptwx
*.schlog
*.st*
*.syr
*.tw*
*.unroutes
*.ut
*.vhf
*.xpi
*.xreport
*.xrpt
*.xst
*.xwbt

sch2HdlBatchFile
webtalk*
