# folders
_ngo/
_xmsgs/
ipcore_dir/
iseconfig/
xlnx_auto_0_xdb/
xst/

# instances
adder1*
!adder1.bin
!adder1.ucf
!adder1.vhd
!adder1_summary.html

# project
*.gise

# files
par_usage_statistics.html
*webtalk*.*
